.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border: none;
    width: 250px;
    margin-top: 150px;
    margin-left: 150px;
  }



  .form-wrapper{
    display: flex;
    flex-direction: column;
  }
  .form-wrapper input{
    width: 300px;
    height: 40px;
    margin:  10px 0px;
    border: 0px solid #f1f1f1;
    outline: none;
    margin-left: 30px;
    border-radius: 15px;
  }
  .tabcontent button{
    width: 300px;
    height: 50px;
    margin:  10px 0px;
    border-radius: 5px;
    background-color: #D0A144;
    border: 1px solid #f1f1f1;
    margin-left: 30px;
  }
  button:hover{
    background-color: yellow;
    transform: scale(1.1);
  }
  html{
    background-image: url("./header/background.png");
  }
  .general{
    background-color: #784F33;
    width: 380px;
    height: 330px;
    padding: 25px;
  }